@import "@/style/vars.scss";
@import '~@fortawesome/fontawesome-free/css/all.min.css';
.bottone{
  border-radius: 10px;
  background-color:$Ectasy;
  border:0;
  padding: 10px;
  color:$White;
  &.opac{
    color:$Ectasy;
    background-color:rgba($Ectasy,0.4)
  }
}
.orange{
  color: $Ectasy;
}
.b-GrayNurse{
  background-color:$GrayNurse;
}
.b-orange{
  background-color:$Ectasy;
}

.overlay-orange{
  inset:0;
  position:absolute;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 30%, rgba($Ectasy,0.7) 100%);
  opacity: 0;
}
.overlay-orange:hover{
  opacity: 1;
}