$White:#fefefe;
$Black:#010101;
$Tundora:#424242;
$Gunsmoke:#858786;
$Ectasy:#f76210;
$GoldenDream:#efd43f;
$MagicMint:#95f1be;
$Turquise:#30cfc3;
$PersianBlue:#223bcb;
$Lima:#78e733;


$GrayNurse:#e3e4e2;
$Shark:#1b1c1d;
$SpicyMix:#875f4a;
$Sundance:#c8af56;
$PuertoRico:#38c3a0;

$Tango:#e3e4e2;
$FlaxSmoke:#1b1c1d;
$CeruleaanBlue:#2455b0;
$Nandor:#495653;
$Starship:#ece046;

